  
*::-webkit-scrollbar {display: none;}*

/*Image Background*/
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    overflow: hidden;
    
    background-image: url('media/bg.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}










/*SYSTEM TIME*/
    .clock {
        font-size: 500%;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px 3px #000000;
        font-weight: 700;
        position: fixed;
        top: 10px;
        right: 30px;
    }


/*BELOW BUTTONS*/
    #buttonbar {
      position:fixed;
      right: auto;
      left:50%;
      bottom: 0px;
    }














/*Menu button*/
#menubutton {
  z-index: 101;
    position: fixed;
    left: 0;
    top: 50%;
    padding-bottom: 4px;
    min-width: 50px;
    min-height: 100px;

    font-size:500%;
    font-family: Calibri, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 5px 0px 5px black;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-user-select: none;

  }
  
  #mainmenu {
    z-index: 100;
    height: 100%;
    left: 0px;
    top: 0;
    width: 0%;
    position: fixed;

    overflow-x: hidden;
    transition-duration: 0.5s;

    color: #f0f0f0;

    background-color: rgba(255, 255, 255, 1);


  }

.mainmenuText {
    padding: 5%;
    transform: translate(0px, -15px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.logo {
   font-size: 50px;
   
}

.logo img {
    width:20%;
    font-style: italic;
    font-weight: 700;
    object-fit: cover;
}

.menuitems li{
    list-style:none;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-15px);

}

.alink{
    display: flex;
    gap:10px;
    padding: 8px 8px;
    font-size: 16px;
    font-weight: 400;
    color:dimgrey;
    text-decoration: none;
    min-width: 220px;
    z-index: 1;
}

.alink:hover{ /*HOVER*/
    background-color: rgb(175, 175, 175);
    max-width: 500px;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    font-weight: 500;
    min-width: 220px;
}

/*SETTINGS*/
#dropclass, #dropcheck, #dropai, #dropres, #dropsettings {
    position: relative;
    display: inline-block;
    padding: 8px 8px;
    font-size: 16px;
    font-weight: 500;
    color:dimgrey;
    text-decoration: none;
    z-index: 2;
  }

#dropsettings:hover, #dropres:hover, #dropclass:hover, #dropcheck:hover, #dropai:hover, #dropdrop:hover {
    color: rgb(255, 255, 255);
    z-index: 7;
    font-weight: 500;
}


#dropclass:hover .dropdown-content {display: block;}
#dropcheck:hover .dropdown-content {display: block;}
#dropai:hover .dropdown-content {display: block;}
#dropsettings:hover .dropdown-content {display: block;}
#dropres:hover .dropdown-content {display: block;}
#dropdrop:hover .dropdrop-content {display: block;}


#dropdrop {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color:dimgrey;
    text-decoration: none;
    z-index: 2;
  }
 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  left: 75px;
  z-index: 5;
  font-family: Calibri, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.dropdown-content p {
  font-size: 12px; 
  font-style: italic;
  padding: 0; 
  margin: 0; 
  margin-left: 5px; 
  margin-top: 5px; 
  color:rgb(195, 195, 195);
}

.dropdown-content a {
  color: dimgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 6;
}

.dropdown-content a:hover {
    background-color: rgb(175, 175, 175);
    color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    font-weight: 500;
    z-index: 7;
  }


  .dropdrop-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    left: -500px;
    z-index: 10;
    font-family: Calibri, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
  }  
  
  .dropdrop-content a {
    color: dimgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 6;
  }
  
  .dropdrop-content a:hover {
      background-color: rgb(175, 175, 175);
      color: rgba(255, 255, 255, 1);
      border-radius: 0px;
      font-weight: 500;
      z-index: 7;
    }















/*TEXT*/

    /*Yun Hello Name na greetings*/
    .greetings {
        color:#ffffff;
        font-size: calc(100px + 0.5vw);
        font-family: 'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 3px 3px 5px #000000;
        font-weight: 900;
        align-items: center;
        justify-content: center;
        position: absolute;

        
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);

        user-select: none;
        -webkit-user-select: none;

        
    }











/*QUOTES*/
    .quotation {
        background-color: rgba(255, 255, 255, 0.8);
        position:absolute;
        padding:3px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        width: 300px;
        max-width: 500px;
        max-height: 500px;
    }

    .quote{
        text-align: center;
        font-size: 14px;
        font-family:'Arial', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        cursor:help;

    }

    .author {
        cursor:help;
    }

    .quotation h3 {
        display: block;
        margin-top: 1px;
        margin-bottom: 7px;
        margin-right: 40px;
        float: right;
        position: relative;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
    }

    .quotation span::before {
        content:" ";
        width: 10px;
        height: 2px;
        background: darkslategray;
        position: absolute;
        top: 50%;
        left: -15px;
    }

    

    /*Search Bar*/

    #search {
        padding: 15px;
        border:none;
        outline: none;
        width: 110%;
        min-width: 120%;
        background: transparent;
        /*Yun isesearch*/
        font-size: 156%;
        text-align: center;
        text-decoration: underline;
        text-shadow: 1px 1px 0.5px #000000;
        color: #ffffff;
    }


        /*"What do you want to know today?"*/
        #search::placeholder {
            color: #ffffff;
            opacity: 1;
            text-decoration: underline;
            font-family: Calibri, Arial;
            text-shadow: 1px 1px 0.5px #000000;
            /*height: 50px;
            width: 300px; */
            font-size: 100%;
            text-align: center;
        }

        .search-form {
            color:#ffffff;
            align-items: center;
            justify-content: center;
            position: absolute;
            padding:5px;
            top: 40%;
            left: 49%;
            transform: translate(-50%, -50%)
        }

        #search:focus {
            opacity: 1;
        }











/*WHITEBOARD*/

.whiteboardframe {
    border-color: #ffffff;
    user-select: none;
    -webkit-user-select: none;
}

iframe {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 15px;
    border-color: #ffffff;
    height:45%;
    width: clamp(30%,30%,50%);
  }













/*SETTINGS OPEN*/

.moresettings {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 20%;
  padding: 3%;
  height: 50%;
  width: 50%;
  border: 3px solid #f1f1f1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 0.5px #000000;
  z-index: 50;
}

.moresettings h2 {
margin: 0;
padding: 0;
z-index: 999;
position: absolute;
top: 15px;
left: 30px;
width: 95%;
box-shadow: 0px 1px 0.5px #000000;

}

#settingnav {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 140px;
padding: 0;
margin: 0;
background-color: #f1f1f1;
}

#settingnavtext {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  top: 70px;

}

#settingnavtext li {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
}

#settingnavtext li:hover {
display: block;
background-color: #cccccc;
color: #000;
padding: 8px 16px;
font-weight: 500;
}

.settingcontent {
margin:15px;
margin-left: 25%;
margin-top: 4%;
left: 50%;
}

/*general*/
.subtitle {
  font-size: 20px;
  font-family: 'Comic Sans MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 0;
  padding-bottom: 0;
}

.containers {
  padding-left: 0;
  transform: translate(-12%);

}

#nameformcontainer form {
  padding-left: 2%;
}

#entername {
  font-size: 20px;
  height: 25px;
  border-radius: 20px;
  padding: 5px;
}










/*appearance*/
.appearancecontainer h3 {
margin-top: -20px;
padding-bottom: 10px;

}

#choosebg img {
height: 15vh;
padding: 5px;
}








/*About*/
.aboutcontainer {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}

.search-form {
  display: flex;
}

div li {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}











@media only screen and (max-width: 600px) {
    *::-webkit-scrollbar {display: none;}*
  /* Styles for mobile devices*/
    
    .clock {
      font-size: 30px;
      right: 5%;
      top: 1%;
    }
  
    .greetings {
      font-size: 40px;
      top: 20%;
      left: 50%;
      display: flex;
      width: 60vw;
      height: 50vh;
    }
  
    .search-form {
        display: flex;
        width: 60vw;
        height: 50vh;
        top:32%;
        font-size:50%;

    }

    .quotation {
      top: 45%;
      left: 50%;
      width: 70%;
      max-width: 70%;
    }
  
    .quote {
      font-size: 10px;
    }

    iframe {
        display: none;

    }

    #mainmenu {
      width: 100%;
    }
}
  



  








  
